<div class="col-12 home-container " data-controller="signup" >
<div class = "hero" id ="">
  image_tag("https://i.stack.imgur.com/NPGLj.jpg")
  <img src="https://i.stack.imgur.com/NPGLj.jpg" alt="edit" id= "hero"/>
</div>
  <div class="row justify-content-md-center">
		<div class="col-md-10 ">  
          <div class="card-body  mindful-card white-text rounded-bottom"> 
            <h4 class="card-title mindful-row ">Card title</h4>
            <hr class="hr-light">
            <p class="card-text white-text mb-4">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          
          <div id= "mindful-card-add"class="card-body collapse hid mindful-card-add hidden white-text rounded-bottom" data-parent="#accordionEx" > 
            <h4 class="card-title">added</h4>
            <hr class="hr-light">
            <p class="card-text white-text mb-4">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
	</div>
  <div class="row justify-content-md-center">
		<div class="col-md-10 align-items-end ">  
          <div class="card-body restore-card white-text rounded-bottom"> 
            <h4 class="card-title">Card title</h4>
            <hr class="hr-light">
            <p class="card-text white-text mb-4">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
	</div>
</div>
