
<div id="rcorners2">
  <%= image_tag("apple.png", :class => "apple-icon")%>
  <h2 class='pillar-title'>Nutrition</h2>
</div>
<div id="contentile" style="">
  <div id="extile" style="">
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

    <p>some content</p>
  </div>
</div>
